# Import Dependencies

In [1]:
from pybaseball import statcast

In [2]:
from pybaseball import batting_stats_range

In [29]:
from pybaseball import playerid_reverse_lookup

In [28]:
season_2019 = statcast(start_dt='2019-03-20', end_dt='2019-05-19')

This is a large query, it may take a moment to complete
Completed sub-query from 2019-03-20 to 2019-03-25
Completed sub-query from 2019-03-26 to 2019-03-31
Completed sub-query from 2019-04-01 to 2019-04-06
Completed sub-query from 2019-04-07 to 2019-04-12
Completed sub-query from 2019-04-13 to 2019-04-18
Completed sub-query from 2019-04-19 to 2019-04-24
Completed sub-query from 2019-04-25 to 2019-04-30
Completed sub-query from 2019-05-01 to 2019-05-06
Completed sub-query from 2019-05-07 to 2019-05-12
Completed sub-query from 2019-05-13 to 2019-05-18
Completed sub-query from 2019-05-19 to 2019-05-19

In [29]:
season_2019.head()

,index,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,0,FF,2019-05-19,92.0,-1.1849,5.6309,Chance Adams,623205.0,664856.0,field_out,...,13.0,5.0,5.0,13.0,5.0,13.0,5.0,13.0,Standard,Standard
1,1,FF,2019-05-19,90.7,-1.3564,5.5397,Chance Adams,623205.0,664856.0,NaN,...,13.0,5.0,5.0,13.0,5.0,13.0,5.0,13.0,Standard,Standard
2,2,FF,2019-05-19,91.8,-1.3474,5.5608,Chance Adams,623205.0,664856.0,NaN,...,13.0,5.0,5.0,13.0,5.0,13.0,5.0,13.0,Standard,Standard
3,3,FF,2019-05-19,91.2,-1.3030,5.6584,Chance Adams,623205.0,664856.0,NaN,...,13.0,5.0,5.0,13.0,5.0,13.0,5.0,13.0,Standard,Standard
4,4,FF,2019-05-19,90.4,-1.4163,5.5242,Chance Adams,623205.0,664856.0,NaN,...,13.0,5.0,5.0,13.0,5.0,13.0,5.0,13.0,Standard,Standard

In [30]:
batter_2019 = season_2019["batter"]
batter_2019_lookup = playerid_reverse_lookup(batter_2019, key_type='mlbam')

Gathering player lookup table. This may take a moment.

In [32]:
batter_2019_lookup.head()

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,abreu,jose,547989,abrej003,abreujo02,15676,2014.0,2019.0
1,acuna,ronald,660670,acunr001,acunaro01,18401,2018.0,2019.0
2,adames,willy,642715,adamw002,adamewi01,15986,2018.0,2019.0
3,adams,matt,571431,adamm002,adamsma01,9393,2012.0,2019.0
4,adrianza,ehire,501303,adrie001,adriaeh01,8418,2013.0,2019.0

In [53]:
batter_2019_ids = batter_2019_lookup[['name_last', 'name_first', 'key_mlbam']]
batter_2019_ids.head()

  name_last name_first  key_mlbam
0     abreu       jose     547989
1     acuna     ronald     660670
2    adames      willy     642715
3     adams       matt     571431
4  adrianza      ehire     501303

In [58]:
season_2019.to_csv('2019_data.csv')
batter_2019_ids.to_csv('2019_batter_id.csv')

In [55]:
season_2018 = statcast(start_dt='2018-03-29', end_dt='2018-10-1')

This is a large query, it may take a moment to complete
Completed sub-query from 2018-03-29 to 2018-04-03
Completed sub-query from 2018-04-04 to 2018-04-09
Completed sub-query from 2018-04-10 to 2018-04-15
Completed sub-query from 2018-04-16 to 2018-04-21
Completed sub-query from 2018-04-22 to 2018-04-27
Completed sub-query from 2018-04-28 to 2018-05-03
Completed sub-query from 2018-05-04 to 2018-05-09
Completed sub-query from 2018-05-10 to 2018-05-15
Completed sub-query from 2018-05-16 to 2018-05-21
Completed sub-query from 2018-05-22 to 2018-05-27
Completed sub-query from 2018-05-28 to 2018-06-02
Completed sub-query from 2018-06-03 to 2018-06-08
Completed sub-query from 2018-06-09 to 2018-06-14
Completed sub-query from 2018-06-15 to 2018-06-20
Completed sub-query from 2018-06-21 to 2018-06-26
Completed sub-query from 2018-06-27 to 2018-07-02
Completed sub-query from 2018-07-03 to 2018-07-08
Completed sub-query from 2018-07-09 to 2018-07-14
Completed sub-query from 2018-07-15 to 2018-07-20
Completed sub-query from 2018-07-21 to 2018-07-26
Completed sub-query from 2018-07-27 to 2018-08-01
Completed sub-query from 2018-08-02 to 2018-08-07
Completed sub-query from 2018-08-08 to 2018-08-13
Completed sub-query from 2018-08-14 to 2018-08-19
Completed sub-query from 2018-08-20 to 2018-08-25
Completed sub-query from 2018-08-26 to 2018-08-31
Completed sub-query from 2018-09-01 to 2018-09-06
Completed sub-query from 2018-09-07 to 2018-09-12
Completed sub-query from 2018-09-13 to 2018-09-18
Completed sub-query from 2018-09-19 to 2018-09-24
Completed sub-query from 2018-09-25 to 2018-09-30
Completed sub-query from 2018-10-01 to 2018-10-1

In [57]:
season_2018.to_csv('2018_data.csv')

In [59]:
season_2017 = statcast(start_dt='2017-04-02', end_dt='2017-10-1')

This is a large query, it may take a moment to complete
Completed sub-query from 2017-04-02 to 2017-04-07
Completed sub-query from 2017-04-08 to 2017-04-13
Completed sub-query from 2017-04-14 to 2017-04-19
Completed sub-query from 2017-04-20 to 2017-04-25
Completed sub-query from 2017-04-26 to 2017-05-01
Completed sub-query from 2017-05-02 to 2017-05-07
Completed sub-query from 2017-05-08 to 2017-05-13
Completed sub-query from 2017-05-14 to 2017-05-19
Completed sub-query from 2017-05-20 to 2017-05-25
Completed sub-query from 2017-05-26 to 2017-05-31
Completed sub-query from 2017-06-01 to 2017-06-06
Completed sub-query from 2017-06-07 to 2017-06-12
Completed sub-query from 2017-06-13 to 2017-06-18
Completed sub-query from 2017-06-19 to 2017-06-24
Completed sub-query from 2017-06-25 to 2017-06-30
Completed sub-query from 2017-07-01 to 2017-07-06
Completed sub-query from 2017-07-07 to 2017-07-12
Completed sub-query from 2017-07-13 to 2017-07-18
Completed sub-query from 2017-07-19 to 2017-07-24
Completed sub-query from 2017-07-25 to 2017-07-30
Completed sub-query from 2017-07-31 to 2017-08-05
Completed sub-query from 2017-08-06 to 2017-08-11
Completed sub-query from 2017-08-12 to 2017-08-17
Completed sub-query from 2017-08-18 to 2017-08-23
Completed sub-query from 2017-08-24 to 2017-08-29
Completed sub-query from 2017-08-30 to 2017-09-04
Completed sub-query from 2017-09-05 to 2017-09-10
Completed sub-query from 2017-09-11 to 2017-09-16
Completed sub-query from 2017-09-17 to 2017-09-22
Completed sub-query from 2017-09-23 to 2017-09-28
Completed sub-query from 2017-09-29 to 2017-10-1

In [60]:
season_2017.to_csv('2017_data.csv')

In [61]:
season_2016 = statcast(start_dt='2016-04-03', end_dt='2016-10-2')

This is a large query, it may take a moment to complete
Completed sub-query from 2016-04-03 to 2016-04-08
Completed sub-query from 2016-04-09 to 2016-04-14
Completed sub-query from 2016-04-15 to 2016-04-20
Completed sub-query from 2016-04-21 to 2016-04-26
Completed sub-query from 2016-04-27 to 2016-05-02
Completed sub-query from 2016-05-03 to 2016-05-08
Completed sub-query from 2016-05-09 to 2016-05-14
Completed sub-query from 2016-05-15 to 2016-05-20
Completed sub-query from 2016-05-21 to 2016-05-26
Completed sub-query from 2016-05-27 to 2016-06-01
Completed sub-query from 2016-06-02 to 2016-06-07
Completed sub-query from 2016-06-08 to 2016-06-13
Completed sub-query from 2016-06-14 to 2016-06-19
Completed sub-query from 2016-06-20 to 2016-06-25
Completed sub-query from 2016-06-26 to 2016-07-01
Completed sub-query from 2016-07-02 to 2016-07-07
Completed sub-query from 2016-07-08 to 2016-07-13
Completed sub-query from 2016-07-14 to 2016-07-19
Completed sub-query from 2016-07-20 to 2016-07-25
Completed sub-query from 2016-07-26 to 2016-07-31
Completed sub-query from 2016-08-01 to 2016-08-06
Completed sub-query from 2016-08-07 to 2016-08-12
Completed sub-query from 2016-08-13 to 2016-08-18
Completed sub-query from 2016-08-19 to 2016-08-24
Completed sub-query from 2016-08-25 to 2016-08-30
Completed sub-query from 2016-08-31 to 2016-09-05
Completed sub-query from 2016-09-06 to 2016-09-11
Completed sub-query from 2016-09-12 to 2016-09-17
Completed sub-query from 2016-09-18 to 2016-09-23
Completed sub-query from 2016-09-24 to 2016-09-29
Completed sub-query from 2016-09-30 to 2016-10-2

In [62]:
season_2016.to_csv('2016_data.csv')

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
season_2019 = pd.read_csv('2019_data.csv')

In [27]:
season_2018 = pd.read_csv('2018_data.csv')

In [3]:
season_2017 = pd.read_csv('2017_data.csv')
season_2016 = pd.read_csv('2016_data.csv')

/anaconda3/envs/pythondata/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
rds_connection_string = "root:village11@localhost/savant_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [4]:
season_2019.to_sql(name='2019 Season', con=engine, if_exists='append',index=False)

In [34]:
season_2018.to_sql(name='2018 Season', con=engine, if_exists='append',index=False)

In [4]:
season_2017.to_sql(name='2017 Season', con=engine, if_exists='append',index=False)

In [5]:
season_2016.to_sql(name='2016 Season', con=engine, if_exists='append',index=False)

In [3]:
pd.read_csv('combined_data.csv').to_sql(name='combined_xba_data', con=engine, if_exists='append', index=False)